<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http use-expressions="true">
        <intercept-url pattern="/login.htm" access="permitAll"/>

        <intercept-url pattern="/**" access="permitAll"/>
        <intercept-url pattern="/**/admin/**" access="hasRole('admin')"/>
        <intercept-url pattern="/**/manager/**" access="hasAnyRole('admin', 'manager')"/>
        <intercept-url pattern="/**/support/**" access="hasAnyRole('admin', 'manager', 'support')"/>

        <form-login login-page="/login.htm" default-target-url="/index.htm"
                    username-parameter="username" password-parameter="password"
                    authentication-failure-url="/failure"
                    login-processing-url="/doLogin"/>
        <logout logout-url="/doLogout" logout-success-url="/login.htm"/>
    </http>
    <beans:bean class="nc.nut.security.Md5PasswordEncoder" id="passwordEncoder" factory-method="getPasswordEncoder"/>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder" hash="md5"/>
        </security:authentication-provider>
    </security:authentication-manager>


</beans:beans>